<div class="container">
  <h1>My friends' homes</h1>

  <div class="cards">
    <% @homes.each do |home| %>
    <% unless current_user.friendships.find_by(friend_id: home.user_id).nil? %>

      <% if current_user.friendships.find_by(friend_id: home.user_id).status == 'accepted' %>

      <div class="card-home">

        <img src="https://images.unsplash.com/photo-1542718610-a1d656d1884c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="placeholder image">

        <div class="card-home-description">
          <h2><%= link_to "Chez #{home.user.first_name} in #{home.city}", home_path(home) %></h2>
          <p><%= home.address %>, <%= home.postcode %>, <%= home.city %>, <%= home.country %></p>
          <hr>
          <h5>Description</h5>
          <p><%= home.description %></p>

          <% if policy(home).edit? %>
            <%= link_to edit_home_path(home) do %><i class="fas fa-pencil-alt"></i><% end %>
          <% end %>

          <% if policy(home).destroy? %>
            <%= link_to home_path(home), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash-alt"></i><% end %>
          <% end %>
        </div>

      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>

  <h2>Share your home with friends!</h2>
  <%= link_to "+ add your home", new_home_path %>
</div>
