<div class="container">
  <h1><%=  @home.user.first_name %>'s Home</h1>
  <p>Address: <%= @home.address %></p>
  <p><%= @home.postcode %>, <%= @home.city %></p>
  <hr>
  <p>Description: <%= @home.description %> €</p>
  <hr>
</div>
